<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

</head>
<body>
    
        <div class="back-image container-login100" style="background-image:url(/static/ai6.jpeg);background-repeat:no-repeat;background-position:center;background-size:cover;width:100%"><br>
            
            <h1 style="color:gold" class="text-center">chickpea</h1>
            <p style="font-size: 20px;color:white" class="text-center">Acording to your invarment and soil helth or parameter which contain in your soil the chickpea crop is best crop for you</p>
            <p style="font-size: 20px;color:white" class="text-center">नमस्कार  तुम्हाच्या परिसरातील वातावरण नुसार अन तुमच्या शेतातील माती मधील घटकांन नुसार हरभरा हे पीक तुमच्यासाठी सर्वात उत्तम पीक आहे . </p>
            
            <div>
                <img src="https://cdn.mos.cms.futurecdn.net/mmrjcWoheuvmnucbNy246i.jpg" class="rounded" alt="chickpea image"></br>
                
            <a style="color:broun" class="text-center" href="https://krishijagran.com/agripedia/complete-guide-to-chickpeas-farming-varieties-climate-requirement-harvesting-yield-and-economics/" target="_blank">Read More About this Crop</a></br>
            <a style="color:gold" href="https://krushipeth.com/gram-crop-from-planting-to-harvesting-information" target="_blank">या  पिकाविषयी अधिक जाणून घ्या</a>
            </div>
            <a href="/"
            <button onclick="/predict" class="buton">back</button></br>
            </a>
        </div>
    </div>
    <footer class="text-center" >
        <h4 style="color:brown" class="text-center">from</h4>
        <h3 style="color:#596ba1" class="login100-form-title">Madhav Abuj</h3>
        
        <div class="wrapper text-center">
            <a href="https://www.linkedin.com/in/madhav-abuj-463977158/"  class="icon facebook">
               <div class="tooltip">
                  linkedin
               </div>
               <span><i class="fab fa-linkedin"></i></span>
            </a>
            <a href=""  class="icon twitter">
               <div class="tooltip">
                  Twitter
               </div>
               <span><i class="fab fa-twitter"></i></span>
            </a>
            <a href="https://www.instagram.com/madhav_abuj/"  class="icon instagram">
               <div class="tooltip">
                  Instagram
               </div>
               <span><i class="fab fa-instagram"></i></span>
            </a>
            <a href="https://github.com/madhavabuj"  class="icon github">
               <div class="tooltip">
                  Github
               </div>
               <span><i class="fab fa-github"></i></span>
            </a>
            
         </div>
   
   
    </footer>
</body>
</html>
